*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#111;
    color:white;
}

nav{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    z-index:1000;
    transition:.4s;
}

nav.scrolled{
    background:rgba(0,0,0,.95);
    backdrop-filter:blur(10px);
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav a{
    color:white;
    text-decoration:none;
}

.logo{
    font-size:1.5rem;
    font-weight:700;
}

.hero{
    height:100vh;
    width:100%;
    background-image:
    linear-gradient(
        rgba(0,0,0,0.55),
        rgba(0,0,0,0.75)
    ),
    url("img/header.png");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero-content{
    max-width:900px;
}

.hero h1{
    font-size:6rem;
    font-family:'Cinzel', serif;
    letter-spacing:8px;
    color:white;
}

.separator{
    width:150px;
    height:3px;
    background:#8b0000;
    margin:25px auto;
}

.hero p{
    font-size:2rem;
    color:#d4d4d4;
}

.hero span{
    display:block;
    margin-top:15px;
    font-size:1.2rem;
    color:#bdbdbd;
}

.btn{
    display:inline-block;
    margin-top:40px;
    padding:15px 35px;
    border:1px solid white;
    color:white;
    text-decoration:none;
    transition:.4s;
}

.btn:hover{
    background:white;
    color:black;
}

.bloc{
    display:flex;
    align-items:center;
    gap:50px;
    width:85%;
    margin:100px auto;
}

/* .bloc .image{
    flex:1;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:15px;
} */

.bloc .image img{
    width:90%;
    height:200px;
    object-fit:cover;
    border-radius:12px;
    transition:0.3s;
}

.bloc .image img:hover{
    transform:scale(1.05);
}

.image{
    flex:1;
}

.image img{
    width:100%;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.4);
}

.texte{
    flex:1;
}

.texte h2{
    color:#8b0000;
    margin-bottom:20px;
    font-size:2rem;
}

.texte p{
    line-height:1.8;
    font-size:1.1rem;
}

footer{
    padding:30px;
    text-align:center;
    background:black;
}

.reveal{
    opacity:0;
    transform:translateY(80px);
    transition:1s;
}

.reveal.active{
    opacity:1;
    transform:translateY(0);
}

@media(max-width:900px){
    .bloc{
        flex-direction:column;
    }

    .hero h1{
        font-size:3rem;
    }
}
.texte{
    flex:1;
    padding:35px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(12px);
    border:1px solid rgba(255,255,255,.15);
    border-radius:20px;
}

.texte h2{
    color:#8b0000;
    margin-bottom:20px;
    font-size:2rem;
}

.texte p{
    line-height:1.8;
    font-size:1.1rem;
}

.stats{
    text-align:center;
    padding:120px 10%;
}

.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:50px;
}

.card{
    background:rgba(255, 255, 255, 0.08);
    backdrop-filter:blur(10px);
    padding:40px;
    border-radius:20px;
    width:220px;
    /* border:3px solid rgba(255, 0, 0, 0.15); */
}
.counter{
    font-size:3rem;
    color:#c0392b;
    font-weight:700;
}
.timeline{
    padding:120px 10%;
    text-align:center;
}

.line{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-top:50px;
}
.event{
    width:220px;
    padding:25px;
    background:#1b1b1b;
    border-left:5px solid #8b0000;
    border-radius:15px;
}

.column{
    display:flex;
    

}